<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.wefit.noticereply.mappers.noticereply">
<!--namespace 수정필요-->

<!-- 댓글 조회 -->
<select id="noticeReplyList" parameterType="int" resultType="com.spring.wefit.command.NoticeReplyVO">
    select
        NRNUM, NBNUM, NRCONTENT, MNUM, NRRGDATE
    from SPRINGWEFIT.NOTICEREPLY
        where NBNUM = #{NBNUM}        
</select>

<!-- 댓글 작성 -->
<insert id="noticeReplyWrite" parameterType="com.spring.wefit.command.NoticeReplyVO">
    insert into SPRINGWEFIT.NOTICEREPLY(NRNUM, NBNUM, NRCONTENT, MNUM, NRRGDATE)
        value(#{NRNUM}, #{NBNUM}, #{NRCONTENT}, #{MNUM}, #{NRRGDATE})
</insert>
    
<!-- 댓글 수정 -->
<update id="noticeReplyModify" parameterType="com.spring.wefit.command.NoticeReplyVO">
    update SPRINGWEFIT.NOTICEREPLY set
        MNUM = #{MNUM},
        NRCONTENT = #{NRCONTENT}
    where NRNUM = #{NRNUM}
        and NBNUM = #{NBNUM}    
</update>

<!-- 댓글 삭제 -->
<delete id="noticeReplyDelete" parameterType="com.spring.wefit.command.NoticeReplyVO">
    delete from SPRINGWEFIT.NOTICEREPLY
    where NRNUM = #{NRNUM}
        and NBNUM = ${NBNUM}    
</delete>
</mapper>